@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
}

.tetris-cell {
  border: 1px solid #374151;
  width: 30px;
  height: 30px;
}

.tetris-block-I {
  background-color: #22d3ee;
  border-color: #06b6d4;
}

.tetris-block-O {
  background-color: #facc15;
  border-color: #eab308;
}

.tetris-block-T {
  background-color: #c084fc;
  border-color: #a855f7;
}

.tetris-block-S {
  background-color: #4ade80;
  border-color: #22c55e;
}

.tetris-block-Z {
  background-color: #f87171;
  border-color: #ef4444;
}

.tetris-block-J {
  background-color: #60a5fa;
  border-color: #3b82f6;
}

.tetris-block-L {
  background-color: #fb923c;
  border-color: #f97316;
}